{{!< main}}

{{#*inline "_head"}}
{{/inline}}

{{#*inline "_foot"}}
    {{!-- <script src="script.js"></script> --}}
{{/inline}}

<!-- Game content -->
<h1>Hungry Mikey</h1>
<img id="hungry mikey" src="./Mikey Frames/Mikey Frame 1.svg" alt="Hungry Mikey" />

{{> foodButtons }}

