<body>

<img id="tamagotchi" src="../images/Mikey Frames/Mikey Frame 1.svg" alt="Tamagotchi" />

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <script src="script.js"></script>


</body>
</html>