<div class="row">
  <div class="col-md-6">
    <h3>Have an Account?</h3>
    <img id="login-art" src="../images/Buttons/login here.png">

    <form class="form login-form">
      <div class="form-group">
        <label for="username-login">Username:</label>
        <input class="form-input" type="text" id="username-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="login-buttons" type="submit">LOGIN</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <img id="create-account-art" src="../images/Buttons/create your account.png">

    <form class="form signup-form">
      <div class="form-group">
        <label for="first-name-signup">First Name:</label>
        <input class="form-input" type="text" id="first-name-signup" />
      </div>
      <div class="form-group">
        <label for="username-signup">Username:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <input type="hidden" name="Language" id="dateHidden">
      <form name="myform" action="JavaScript:generateDate()">
      <div class="form-group">
        <button class="login-buttons" type="submit">SIGNUP</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
