<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/jass.css">
    {{{_head}}} 
<body>
    {{{body}}}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script> 
</body>
</html>
