<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hungry Mikey</title>
  <link rel="icon" type="image/x-icon" href="../../images/favicon/favicon.ico">

  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Single+Day&family=Sixtyfour&display=swap" rel="stylesheet">
</head>

<body>
  <div>
    <header>
      <h1 class="h-2">
        <img id="logo" src="../../images/logo.png">
      </h1>
      <nav>
{{!-- empty nav for now --}}
      </nav>
    </header>
    <main>
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
