.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.tamagotchi-button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tamagotchi-button:hover {
    background-color: #e7e7e7;
}

.button {
    position: relative;
}

.tooltip {
    position: relative;
    top: 100%; 
    transform: translateX(-50%); 
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 100;
    display: none; 
}

/*speed and how many times Mikey "spins" */
.spinning {
    animation: spin 1s linear 2;
}

/* display Mikey upside down */
.upside-down {
    transform: rotate(180deg);
}

/* keyframes for SVG spin animation  */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes blob {}

svg path {
    animation: blob 5s infinite;
}

/* in-line style */
#tamagotchi {
    transition: width 0.5s, height 0.5s;
    margin: auto;
}